$sub-text: #898F8F;
$gold:#FFCC00;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #666;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 121px 135px 122px 135px;
}
.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    flex-direction: column;
    gap: 40px;
}
.title {
    width: min(90%, 450px);
    margin: 0 auto;
    border-bottom: 1px solid $gold;
    img {
        position: relative;
        top: 15px;
    }
    h2 {    
        margin-bottom: 15px;
        font-size: 1.125rem;
        font-weight: 500;
        font-style: normal;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: $sub-text
    }
    h1 {
        font-size: 3.75rem;
        font-weight: 900;
        line-height: 4.125rem;
        text-transform: uppercase;
        color: $gold;
        margin-bottom: 40px;
    }
}
.block {
    width: min(90%, 1030px);
    margin: 0 auto;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 85px;
    .left {
        width: 430px;
        height: 430px;
        padding: 15px;
    }
    .center {
        width: 1px;
        height: 560px;
        background-color: $gold;
    }
    .right {
        width: 430px;
        height: 420px;
        .info-title {
            display: flex;
            flex-direction: column;
            gap: 30px;
            .divider {
                width: 100px;
                height: 1px;
                background-color: $gold;
                display: flex;
                margin-left: 165px;
            }
            h2{
                color: #666;
                font-size: 2.25rem;
                font-weight: 900;
            }
            p.subtitle {
                color: #666;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.25rem;
                margin-bottom: 30px;
            }
        }
    }
}
.social {
    margin-bottom: 49px;
    ul {
        display: inline-flex;
        flex-direction: row;
        gap: 5px;
        list-style: none;
        
        li a:hover {
            border-bottom: 2px solid #5a5858;
            border-radius: 2px;
        }
    }
}
.info-text {
    margin-bottom: 20px;
    p {
        color: #333;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
    } 
}
.decore {
    margin-bottom: 25px;
}
.button button {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.875rem;
    border: 1px solid $gold;
    background-color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        background-color: $gold;
    }
    &:active {
        background-color: #f8b436;
    }
}
