* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 80px;
    padding: 17px 120px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li{
    display: inline-block;
    margin-right: 20px
}
.nav li:last-child {
    margin-right: 0;
}
.nav ul li a {
    text-decoration: none;
    color: #2F281E;
}
.nav ul li a:hover {
    color: orange;
}
.sign-up {
    width: 252px;
    display: flex;
    justify-content: space-between;
}
.sign-up button {
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
}
button[type=button] {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    cursor: pointer;
}
button[type=button]:hover {
    background-color: #d6d6d6;
    transition: all .2s ease;
}
button[type=button]:active {
    background-color: #afafaf;
}
button[type=submit] {
    background-color: orange;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid orange;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #FFF;
    color: orange;
    transition: all .2s ease;
}
button[type=submit]:active {
    background-color: #afafaf;
}
section.superpowers {
    padding: 70px 120px 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    width: 500px;
}
h1 {
    font-size: 2.75rem;
    color: #2F281E;
    margin-bottom: 30px;
}
.text p{
    font-size: 1.125rem;
    color: #544837;
    margin-bottom: 20px;
}
button.start {
    padding: 13px 40px;
    background-color: orange;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 4px;
    cursor: pointer;
}
button.start:hover {
    background-color: #FFF;
    color: orange;
    transition: all .2s ease;
}
button.start:active {
    background-color: #afafaf;
}