* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
}
main {
    flex-grow: 1;
}
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    height: 80px;
    /* padding: 17px 120px; */
    margin-bottom: 70px;
}
ul {
    list-style: none;
}
.superpowers {
    padding-bottom: 99px;
}
.header {
    .container {
        .main-nav {
            margin: 17px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
    .hamburger {
        display: none;

    }
}


.nav li{
    display: inline-block;
    margin-right: 20px
}
.nav li:last-child {
    margin-right: 0;
}
.nav ul li a {
    text-decoration: none;
    color: #2F281E;
}
.nav ul li a:hover {
    color: orange;
}
.sign {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.sign button {
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
}
.sign-in {
    color: #2F281E;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    cursor: pointer;
}
.sign-in:hover {
    background-color: #d6d6d6;
    transition: all .2s ease;
}
.sign-in:active {
    background-color: #afafaf;
}
.sign-up {
    background-color: orange;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid orange;
    cursor: pointer;
}
.sign-up:hover {
    background-color: #FFF;
    color: orange;
    transition: all .2s ease;
}
.sign-up:active {
    background-color: #8b8b8b;
}
.superpowers .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.text {
    width: 50%;
}
h1 {
    font-size: 2.75rem;
    color: #2F281E;
    margin-bottom: 30px;
}
.text p{
    font-size: 1.125rem;
    color: #544837;
    margin-bottom: 20px;
}
button.start {
    padding: 13px 40px;
    background-color: orange;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 4px;
    cursor: pointer;
}
button.start:hover {
    background-color: #FFF;
    color: orange;
    transition: all .2s ease;
}
button.start:active {
    background-color: #afafaf;
}
// //не получилося
.tools {
    background: url(../img/bg.svg) 50% bottom no-repeat;
    margin-bottom: 100px;
    .container {
        padding-bottom: 74px;
    }
}
.card {
    margin-bottom: 70px;
}
.subtitle {
    margin-bottom: 50px;
    h2 {
        padding: 0 330px;
        margin-bottom: 0;
        display: block;
        text-align: center;
        font-size: 2.25rem;
        font-weight: 700;
    }
}
.list li {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
}

.list ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
.logo-list .image {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #7752BE;
    border-radius: 15px;
    text-align: center;
    line-height: 53px;
    // img {
    //     height: 18px;
    // }
    &.designe {
        background-color: #FAB005;
    }
    &.tests {
        background-color: #F03E3D;
    }
    &.second-tests {
        background-color: #4DADF7;
    }
}
.text-list h2 {
    margin-bottom: 16px;
}
.now {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
    padding: 13px 40px;
    background-color: orange;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #FFF;
        color: orange;
        transition: all .2s ease;
    }
    &:active {
        background-color: #afafaf;
    }
    }
}
.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    &.mg {
        margin-bottom: 0;
        flex-direction: row-reverse;
    }
}
.position-wrapper {
    width: calc(50% - 113px);
    color: #544837;
    font-weight: 500;
    line-height: 1.625rem;
    &.mg {
        width: calc(50% - 125px);
    }
    &.markets {
       width: calc(50% - 174px);
       flex-direction: row-reverse; 
    }
    .position-list {
        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            h3 {
                color: #2F281E;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .position-li {
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
        .position-li img {
            width: 35px;
            aspect-ratio: 1;
        }
    }
}
.position-title {
    align-items: flex-start;
    margin-bottom: 40px;
    h2 {
        color: #2F281E;
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
.footer .container{
    padding: 70px 0;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ft.text {
    width: min(90%, 135px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    h2 {
        color: #2F281E;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    a {
        text-decoration: none;
        color: #2F281E;
        line-height: 1.625rem;
        &:hover {
            color: orange;
        }
    }
}
.ft.form {
    width: min(90%, 340px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    h2 {
        display: flex;
        flex-wrap: wrap;
        color: #2F281E;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }
}
.tel input[type=tel] {
    width: 340px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    padding: 0 10px;
    &::placeholder {
        color: #BCD0E5;
        font-size: 1rem;
    }
}
.btn button {
    width: 180px;
    padding: 13px 40px;
    background-color: orange;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid #f90;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: #FFF;
        color: orange;
        transition: all .2s ease;
    }
    &:active {
        background-color: #afafaf;
    }
}
@media screen and (max-width:1300px) {
    .text h1{
        font-size: 2.2rem;
    }
    .subtitle h2 {
        padding: 0 200px;
    }
    .list ul{
        flex-wrap: wrap; 
        li {
            width: calc(50% - 20px);
        }
    }
    .position-wrapper.markets {
        width: calc(50% - 100px)
    }
}
@media screen and (max-width: 1150px) {
    .text h1{
        font-size: 2rem;
    }
    .superpowers {
        padding-bottom: 40px;
    }
    .tools {
        margin-bottom: 40px;
        .container {
            padding-bottom: 40px;
        }
    }
    .position {
        flex-direction: column;
        margin-bottom: 50px;
        &.mg {
            flex-direction: column;
        }
        .position-wrapper {
            margin-bottom: 30px;
            
        }
    }
    .position-title {
        margin-bottom: 20px;
        h2{
            line-height: 2.2rem;
        }
    }
    .footer .container {
        padding: 0 0 30px;
    }
}
@media screen and (max-width: 1000px) {
    .header {
        .main-nav {
            .nav {
                display: none;
            }
            .hamburger {
                display: block;
            }
        }
    }
    .text h1{
        font-size: 1.5rem;
    }
    .subtitle h2 {
        font-size: 1.5rem;
    }
    .position-wrapper .position-title h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    .ft {
        width: calc(50% - 20px);
    }
    }
}
@media screen and (max-width: 780px) {
    .sign-in {
        display: none;
    }
    .sign-up {
        display: none;
    }
    .superpowers .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .subtitle h2 {
        padding: 0 100px;
    }
    .list ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        li {
            gap: 15px;
        }
    }
    .footer-wrapper .ft {
        gap: 15px;
        &.text ul{
            gap: 7px;
        }
    }
    .ft.form h2 {
        font-size: 1rem;
    }
    .tel input[type=tel] {
        width: 220px;
    }
    .btn button {
        width: 120px;
        padding: 13px 20px;
    }
}
@media screen and (max-width: 580px) {
    .superpowers .container {
        flex-wrap: wrap;
    }
    .subtitle h2 {
        padding: 0 40px;
    }
}